@{
    ViewData["Title"] = "Quotes";
}
<h1>All Quotes</h1>
<ul class="list-group">
    @foreach(var quote in ViewBag.allQuotes)
    {
        <li class="list-group-item">@quote["name"] posted on @quote["createdat"].ToString("dddd, dd MMMM yyyy h:mm:ss tt") <br>
        &mdash; @quote["quote"]
        </li>
    }
</ul>
<br>
    <input type="button" onclick="location.href='/'" class="btn btn-info" value="Go Back">




    
    
